html {
  min-height: 100%;
}

body {
  margin: 0;
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  display: block;
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(0 0 0 / 20%);
  border-radius: 3px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 14px;
  border-radius: 8px;
  color: #0d1e25;
  font-size: 14px;
  text-decoration: none;
  transition: all .2s ease;
}

.sidebar-link:hover {
  background: #ffe4e1;
  color: #b02528;
  font-weight: 600;
}

.sidebar-link .material-symbols-outlined {
  font-size: 20px;
}
